extends ../layout.jade

block data
  -
    var page = {
      name: 'showcase',
      title: 'showcase',
      module: 'apps/demo/showcase'
    };

block body
  div.container
    //- div.showcase#grid
    //-   h1 Grid
    //-   div.items
    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-1
    //-     div.row.showgrid
    //-       - for (var i = 0; i < 12; ++i ) {
    //-       div.col.col-width-1
    //-         div.bg-black &nbsp;
    //-       - }

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-2
    //-     div.row.showgrid
    //-       - for (var i = 0; i < 6; ++i ) {
    //-       div.col.col-width-2
    //-         div.bg-black &nbsp;
    //-       - }

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-3
    //-     div.row.showgrid
    //-       - for (var i = 0; i < 4; ++i ) {
    //-       div.col.col-width-3
    //-         div.bg-black &nbsp;
    //-       - }

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-4
    //-     div.row.showgrid
    //-       - for (var i = 0; i < 3; ++i ) {
    //-       div.col.col-width-4
    //-         div.bg-black &nbsp;
    //-       - }

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-5 .col-width-7
    //-     div.row.showgrid
    //-       div.col.col-width-5
    //-         div.bg-black &nbsp;
    //-       div.col.col-width-7
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-6
    //-     div.row.showgrid
    //-       div.col.col-width-6
    //-         div.bg-black &nbsp;
    //-       div.col.col-width-6
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-7 .col-width-5
    //-     div.row.showgrid
    //-       div.col.col-width-7
    //-         div.bg-black &nbsp;
    //-       div.col.col-width-5
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-8 .col-width-4
    //-     div.row.showgrid
    //-       div.col.col-width-8
    //-         div.bg-black &nbsp;
    //-       div.col.col-width-4
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-9 .col-width-3
    //-     div.row.showgrid
    //-       div.col.col-width-9
    //-         div.bg-black &nbsp;
    //-       div.col.col-width-3
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-10 .col-width-2
    //-     div.row.showgrid
    //-       div.col.col-width-10
    //-         div.bg-black &nbsp;
    //-       div.col.col-width-2
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-11 .col-width-1
    //-     div.row.showgrid
    //-       div.col.col-width-11
    //-         div.bg-black &nbsp;
    //-       div.col.col-width-1
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div .col-width-12
    //-     div.row.showgrid
    //-       div.col.col-width-12
    //-         div.bg-black &nbsp;

    //-     div.row
    //-       div.col.col-witdh-12
    //-         div default div width not in gird system
    //-     div.bg-black &nbsp;
    //- div.showcase#select
    //-   h1 Select
    //-   div.items

    //- div.showcase#popover
    //-   h1 Popover
    //-   div.items

    //- div.showcase#modal
    //-   h1 Modal
    //-   div.items
    //-     div.btn.btn-primary(data-type="scrollable") Scrollable Modal
    //-     div.btn.btn-primary(data-type="form") Form Modal

    div.showcase#form
      h1 Form
      div.items

    //- div.showcase#wizzard
    //-   h1 Wizzard
    //-   div.items

    //- div.showcase#date-picker
    //-   h1 DatePicker
    //-   div.items
    //-     div.item

    //- div.showcase#button-group
    //-   h1 Button Group
    //-   div.items

    //- div.showcase#highcharts
    //-   h1 HightCharts
    //-   div.items

    //- div.showcase#markdown
    //-   h1 Markdown
    //-   div.items

    div.showcase#table
      h1 Table
      div.items

    //- div.showcase#scrollable
    //-   h1 Scrollable
    //-   div.items
  
    //- div.showcase#image-uploader
    //-   h1 Image Uploader
    //-   div.items

    //- div.showcase#file-uploader
    //-   h1 File Uploader
    //-   div.items

    //- div.showcase#date-range-select
    //-   h1 Date Range Select
    //-   div.items
    
    //- div.showcase#tool-tip
    //-   h1 Tooltip
    //-   div.items
